@use "../module";

.home-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px 10px;
    padding: 10px;

    @media screen and (min-width: module.$tablet-width) and (max-width: module.$desktop-width) {
        grid-template-columns: 350px 1fr 0;
    }

    @media screen and (min-width: module.$desktop-width) {
        grid-template-columns: 350px 1fr 350px;
    }

    .block {
        overflow: hidden;
        background-color: lightsteelblue;

        .inside-block {
            a {
                text-decoration: none;
                color: black;
                display: block;
            }
        }
    }

    #block-1 {
        display: flex;
        flex-direction: column;

        .post {
            display: block;
            padding: 10px;
            max-height: 295px;
            overflow: hidden;
            text-overflow: ellipsis;

            a {
                text-decoration: none;
                color: black;
            }
        }
    }
}
