@use "../module";

.postpage {
  .banner {
    width: 100%;
    height: 50px;
    background-color: aquamarine;

    nav {
      list-style: none;
    }

    ul {
      list-style: none;
      display: flex;
    }

    li {
      display: flex;
      flex-direction: column;
      padding-left: 5px;
      padding-top: 5px;
      padding-right: 5px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      margin: 5px;
      transition: background-color 0.3s ease;

      .selected-li {
        background-color: orangered;
        width: 100%;
        height: 5px;
        margin-top: 14px;
      }
    }

    li:hover {
      background-color: hotpink;
      cursor: pointer;
    }
  }

  .headband {
    display: inline-block;
    width: auto;
    margin-top: 25px;
    margin-bottom: 15px;
    padding-left: 25px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid black;
    border-left: none;
    background-color: azure;
    border-bottom-right-radius: 15px;

    span {
      font-size: larger;

      a {
        text-decoration: none;
        color: black;
      }
    }
  }

  .post-content {
    margin-left: 4vw;
    margin-right: 4vw;
    padding-bottom: 25px;
  }
}

.posting-form {
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;

  textarea {
    resize: none;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    scrollbar-width: none;
    appearance: none;
    min-height: 100px;
    width: 50%;
  }

  .submit-button {
    width: 50px;
  }
}
