header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: lightsteelblue;

  .logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .user-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;

    .logout {
      cursor: pointer;
    }
  }

  a {
    text-decoration: none;
    color: black;
  }
}

footer {
  text-align: center;
  color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  & > .container {
    background-color: lightsteelblue;
    margin: auto;

    & > .text {
      display: flex;
      justify-content: center;
      padding: 10px;

      & > p {
        width: 80%;
      }
    }

    & > .icons {
      display: flex;

      div {
        margin: auto;
      }

      a {
        width: 0px;
      }

      img {
        width: 40px;
        height: 40px;
        margin: 10px;
      }
    }
  }

  & > .copyright {
    text-align: center;
    padding: 5px;
    background-color: lightsteelblue;
  }
}
