$color-second-background: #ececec;
$box-shadow-classic: 5px 0px 10px 5px rgba(0, 0, 0, 0.2);

.post_ {
    border: solid 1px black;
    border-radius: 50px;
    background-color: $color-second-background;
    box-shadow: $box-shadow-classic;
    padding: 14px;
    margin: 7px;

    * {
        color: black;
    }
}
